// Typography

//Basic colors:
$main-mono_1: #076ddd;
$main-flag: #0879f6;  //main flag colors
$main-mono_-1: #2086f8;
$main-mono_-2: #3894f9;
$main-mono_-3: #51a1f9;
$main-mono_-4: #85bdfb;
$main-mono_-10: #e6f1fe;



$body-bg: #ffffff;

//greys
$grey-mono_6: #fdfdfd;
$grey-mono_5: #fbfbfb;
$grey-mono_4: #fdfdfd;
$grey-mono_3: #f9f9fa;
$grey-mono_2: #f4f4f6;
$grey-mono_1-75: #f2f2f2;
$grey-mono_1-5: #eeebeb;
$grey-mono_1: #e2e3e7; // strokes borrders etc.
  $grey-mono_0-75: #cdced1;
  $grey-mono_0-5: #b8b9bc;
  $grey-mono_0-25: #9fa1a1;
$grey-mono_0: #8e9091;
$grey-mono_-1: #7d7e81;
$grey-mono_-2: #808080;


//blacks

$font-col_ttls: #111111;
$black-mono_0: #1d1d1d;
$black-mono_-1: #272727;
$black-mono_-1-75: #444343;
$black-mono_-1-8: #555454;
$black-mono_-1-5: #605f5f;
$black-mono_-2: #999898;


//usage colors
$negative_0: #d43939;
$negative_1: #d85a5a;


//action
$love-col: #fd3d58;



$font-col_light: #fff;
$font-col_dark: #000;
