@import "../utilities/variables";

body{
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  &.modalMode{
    overflow-y: hidden;
    // position: fixed;
  }
}

.container{
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

.container-inner{
  box-sizing: border-box;
}

.container__0{
  @extend .container;
  max-width: 1140px;
}

.container__1{
  @extend .container;
  max-width: 1005px;
}

.container__2{
  @extend .container;
  max-width: 950px;
}

.container__3{
  @extend .container;
  max-width: 750px;
}


.cont-columns__0{
  @extend .container;
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  .cont-incolumns__0{
    flex: 1;
    display: inline-block;
  }
}

.column{
  float: left;
  display: inline-block;
  position: relative;
  width: 100%;
}

.columns__0{
  @extend .column;
  max-width: 780px;
  padding-right: 30px;
  box-sizing: border-box;
}

.columns__1{//right
  @extend .column;
  max-width: 290px;
  align-self: flex-start;
}



.down-container{
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100% - #{$topbar-height__0});
}



.div-line{
  width: 100%;
  height: 1px;
  background-color: $grey-mono_1;
  display: block;
}

.no_img-cont{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span{
    margin-top: 6px;
    font-size: 16px;
  }
  svg{
    width: 24px;
    height: auto;
  }
  span, svg{
    opacity: 0.12;
  }
}





//avatars
.avatar-round{
  width: auto;
  border-radius: 50%;
}





.avatar-small{
  @extend .avatar-round;
  height: 35px;
}

.avatar-small__big{
  @extend .avatar-round;
  height: 38px;
}

.avatar-regular{
  @extend .avatar-round;
  height: 40px;
}

.avatar-regular__big{
  @extend .avatar-round;
  height: 45px;
}

.avatar-medium{
  @extend .avatar-round;
  height: 50px;
}

.avatar-medium__big{
  @extend .avatar-round;
  height: 56px;
}




//scroll bar
.scrlbar-1{
  &::-webkit-scrollbar-track{
  	background: none;
  }

  &::-webkit-scrollbar{
  	width: 10px;
    height: 10px;
  	background: none;
  }

  &::-webkit-scrollbar-thumb{
  	background-color: $grey-mono_1;
    &:hover{
      background-color: $grey-mono_0-5;
    }
  }
}


.scrlbar-2{
  &::-webkit-scrollbar-track{
  	border-radius: 10px;
  	background: none;
  }

  &::-webkit-scrollbar{
    width: 6px;
  	height: 4px;
  	background: none;
  }

  &::-webkit-scrollbar-thumb{
  	border-radius: 10px;
  	background-color: $grey-mono_1;
    &:hover{
      background-color: $grey-mono_0-75;
    }
  }
}















.loader {
  position: relative;
  margin: 0px auto;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .circular-loader {
    animation: rotate 3s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
  }
}


.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  animation: dash 2s ease-in-out infinite;
  stroke-linecap: round;
}



@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
