@import "../../utilities/variables";


.hm-signbar{
  width: 100%;
  display: block;
  position: relative;
  background-color: #fafafa;
  text-align: center;

  .hm-signbar_inner{
    padding-top: 30px;
    padding-bottom: 24px;
    height: 120px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .hm-signbar-top{
      h2{
        font-size: 26px;
      }
      p{
        margin-top: 3px;
        color: $black-mono_-1-5;
      }
    }

    #hm-signbar-cta{
      color: $main-mono_-2;
    }
  }
}
